body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 2vmin;
  color: rgb(247, 189, 0);

  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;
  background-color: #1c87c9;
  background-repeat: no-repeat;
}

/* scroll snapping */
html,
body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section {
  scroll-snap-align: start;
}

/* 100% height per section, 100vh sucks with mobile adressbars */
html,
body,
main,
section {
  height: 100%;
}

/* base layout */
nav,
.content,
footer {
  /* dont stretch more than 16:9 */
  max-width: 177vh;

  /* center */
  margin: auto;
}
nav,
.content {
  width: 95%;
}
nav,
footer {
  position: fixed;

  /* center with fixed position */
  right: 0;
  left: 0;

  /* show above content */
  z-index: 10;
}
nav {
  margin-top: 1vmin;
  height: 22vmin;
}
footer {
  bottom: 0;
  width: 100%;
  background-color: #48a6e080;
  display: flex;
  justify-content: flex-end;
}
footer a {
  margin: 0.1em 1em;
}
.content {
  border-style: solid;

  position: relative;
  top: 25vmin;
  height: calc(95% - 25vmin);
  background-color: #1c87c980;
}

/* text modifications */
div.stroke,
div.stroke a {
  -webkit-text-stroke: 0.02em black;
}
div.gradient {
  background: -webkit-linear-gradient(rgb(255, 255, 0) 40%, rgb(255, 50, 0));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
a:hover div.gradient {
  background: -webkit-linear-gradient(rgb(255, 255, 0) 15%, rgb(255, 50, 0));
  background-clip: text;
  -webkit-background-clip: text;
}
div.shadow {
  text-shadow: 0.05em 0.15em grey;
}
div.shadow.gradient {
  text-shadow: none;
  filter: drop-shadow(0.05em 0.15em rgb(100, 100, 100));
}
a {
  text-decoration: none;
  color: inherit;
}

/* navigation clouds */
a.cloud {
  position: absolute;
  height: 50%; /* so selected cloud with scale*2 fits in */
  width: 22vmin; /* same as nav height, so they have aspect-ratio 2:1 */

  background-size: 100% 100%;
}
a.cloud div.cloud-text {
  position: relative;
  text-align: center;
  font-size: 150%;
}
#galery-cloud {
  background-image: url('../images/Cloud_1.png');
}
#galery-cloud div.cloud-text {
  top: 45%;
}
#loveleague-cloud {
  background-image: url('../images/Cloud_2.png');
  left: calc(50% - 11vmin);
  scale: 2;
  top: 25%;
}
#loveleague-cloud div.cloud-text {
  top: 53%;
}
#download-cloud {
  background-image: url('../images/Cloud_3.png');
  right: 0%;
}
#download-cloud div.cloud-text {
  top: 40%;
}

/* content details */
.content .text {
  position: relative;
  left: 2%;
  top: 2%;
}
.content .text .title {
  font-size: 250%;
  margin-bottom: 2vh;
}
.content .text .big {
  font-size: 175%;
  margin-top: 2vh;
}
.content .video {
  border-style: dotted;

  position: static;
  margin: 4vmin 2vmin;
  height: calc(100% - 40vmin);
}
